<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submit</title>
    <script src="../static/important.js"></script>
</head>
<body>
<div class="fig" style="text-align: center">
    <br><br><br><br><br><br><br><br><br>
    <pre id="taag_font_Graffiti" class="" contenteditable="true">
 _______    _________ _________
 \      \  /   _____//   _____/
 /   |   \ \_____  \ \_____  \
/    |    \/        \/        \
\____|__  /_______  /_______  /
        \/        \/        \/
    </pre>
    <div style="clear:both"></div>
</div>
<p>{{ res }}</p>
</hr>
<p>time you spent: {{ timeused }}</p>
</body>
</html>