<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>random</title>
    <script src="../static/important.js"></script>
</head>
<body>
<div class="fig" style="text-align: center">
    <br><br><br><br>
    <pre id="taag_font_Graffiti" class="" contenteditable="true">
 _______    _________ _________
 \      \  /   _____//   _____/
 /   |   \ \_____  \ \_____  \
/    |    \/        \/        \
\____|__  /_______  /_______  /
        \/        \/        \/
    </pre>
    <div style="clear:both"></div>
</div>
<h1>submit your answer to /chall/check?id={id in next line}&answer={your answer}</h1>
<h1>answer is the sum of following list</h1>
<h3>example</h3>
<h3>2333</h3>
<h3>[1,2,3]</h3>
<h3>visit /chall/check?id=2333&answer=6 to get your flag</h3>
<a>{{ id }}</a>
<p>{{ ints }}</p>
</body>
</html>