<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NSS</title>
    <script>
        console.log("-.-. .... .- .-.. .-.. -..-. -... ..-.");
    </script>
</head>
<body>
<div class="fig" style="text-align: center">
    <br><br><br><br><br><br><br><br><br>
    <pre id="taag_font_Graffiti" class="" contenteditable="true">
 _______    _________ _________
 \      \  /   _____//   _____/
 /   |   \ \_____  \ \_____  \
/    |    \/        \/        \
\____|__  /_______  /_______  /
        \/        \/        \/
    </pre>
    <div style="clear:both"></div>
</div>
<div style="text-align: center">
    Hello,no more fancy pages here.<br>
    Good luck and have fun.<br>
    -------------<br>
    uggc://pgsre.ivc/punyy/cvp<br>
    -------------<br>
</div>
</body>
</html>