<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NSS</title>
    {% load static %}
</head>
<body>
<div class="fig" style="text-align: center">
    <br><br><br><br><br><br><br><br><br>
    <pre id="taag_font_Graffiti" class="" contenteditable="true">
 _______    _________ _________
 \      \  /   _____//   _____/
 /   |   \ \_____  \ \_____  \
/    |    \/        \/        \
\____|__  /_______  /_______  /
        \/        \/        \/
    </pre>
</div>
<div style="text-align: center">
    It seems that u find ur way here.<br>
    Good luck and have fun.<br>
    -------------<br>
    Seems weird? I agree.<br>
    <img src="{% static "pics/logo.jpg" %}" width="300">
    <br>
    -------------<br>
</div>
</body>
</html>