<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NSS</title>
</head>
<body>
<body>
<div class="fig" style="text-align: center">
    <br><br><br><br><br><br><br><br><br>
    <pre id="taag_font_Graffiti" class="" contenteditable="true">
 _______    _________ _________
 \      \  /   _____//   _____/
 /   |   \ \_____  \ \_____  \
/    |    \/        \/        \
\____|__  /_______  /_______  /
        \/        \/        \/
    </pre>
    <div style="clear:both"></div>
</div>
<div style="text-align: center">
    Reverse. Again.<br>
    -------------<br>
    {% load static %}
	<a>chall:7</a><br>
    <a href="{% static 'attachment/r1.exe' %}">main</a><br>
    -------------<br>
</div>
</div>
</body>
</body>
</html>
